* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e5d7;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5f564d;
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

li {
  margin-left: 24px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.container__main-content img {
  width: 100%;
  margin-bottom: 40px;
}

.container__main-content {
  max-width: 730px;
  background-color: white;
  padding: 40px;
  border-radius: 24px;
  margin: 128px 0px;
}

.recipe-name {
  margin-bottom: 24px;
  font-family: "Young Serif";
  font-size: 40px;
  line-height: 100%;
  color: #312e2c;
}

.recipe-description {
  margin-bottom: 32px;
}

.container__preparation-time {
  background-color: #fff7fb;
  padding: 24px;
  border-radius: 12px;
}

.container__preparation-time h2 {
  font-weight: 600;
  font-size: 20px;
  color: #7a284e;
  list-style: none;
  margin-bottom: 16px;
}

.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #854632;
  margin-bottom: 24px;
  font-family: "Young Serif";
}

.container-btm-mr {
  margin-bottom: 32px;
}

.container__ingridients,
.container__instruction {
  margin-bottom: 64px;
  position: relative;
}

.container__ingridients li::marker,
.container__instruction li::marker {
  color: #854632;
  font-weight: bold;
}

.container__ingridients::after,
.container__instruction::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #e3ddd7;
  width: 100%;
  top: calc(100% + 16px);
}

.container__nutrition p {
  margin-bottom: 24px;
}

.container__nutrition li {
  position: relative;
  list-style: none;
  margin-bottom: 24px;
  margin-left: 0px;
  padding-left: 32px;
}

span {
  font-weight: 700;
}

.label {
  font-weight: 400;
}

.value {
  color: #854632;
}

.label,
.value {
  display: inline-block;
  width: 49%;
}

.container__nutrition li::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #e3ddd7;
  width: 100%;
  top: calc(100%);
  left: 0;
}
